<%- include('../layouts/header') %>



  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Categories</h1>
    </div><!-- End Page Title -->
    <section class="section d-flex justify-content-end ">

      <!-- Button to trigger the modal -->
      <div class="col-auto px-2 py-2">
        <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#addCategoryModal">
          <i class="bi bi-plus-lg"></i>
          Add Category
        </button>
      </div>

      <!-- Modal for adding a category -->
      <div class="modal fade" id="addCategoryModal" tabindex="-1" aria-labelledby="addCategoryModalLabel"
        aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addCategoryModalLabel">Add Category</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <!-- Category form goes here -->
              <form id="categoryForm" action="/admin/addCategory" method="post">
                <div class="mb-3">
                  <label for="categoryName" class="form-label">Category Name</label>
                  <input type="text" class="form-control" id="categoryName" name="categoryName" required>
                </div>
                <!-- Add more form fields as needed -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" id="saveCategoryBtn">Save</button>
            </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Sub Category -->

      <div class="col-auto px-2 py-2">
        <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#addSubCategoryModal">
          <i class="bi bi-plus-lg"></i>
          Add Sub Category
        </button>
      </div>

      <div class="modal fade" id="addSubCategoryModal" tabindex="-1" aria-labelledby="addSubCategoryModalLabel"
        aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addSubCategoryModalLabel">Add Sub Category</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <!-- Category form goes here -->
              <form id="subCategoryForm" action="/admin/subcategories" method="post">

                <div class="mb-3">
                  <label for="categorySelect" class="form-label">Category Name</label>
                  <select class="form-select" id="categorySelect" name="category" required>
                    <option value="" disabled selected>Select a category</option>
                    <!-- Populate options dynamically from your data source -->
                    <% categories.forEach(category=>{ %>
                      <option value="<%= category._id %>">
                        <%= category.categoryName %>
                      </option>
                      <% }) %>
                </div>

                <div class="mb-3 "> <!-- Add mt-3 for margin-top -->

                  <label for="subCategoryName" class="form-label">Sub-Category Name</label>
                  <input type="text" class="form-control" id="subCategoryName" name="subcategoryName" required>
                </div>
                <!-- Add more form fields as needed -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" id="saveSub CategoryBtn">Save</button>
            </div>
            </form>
          </div>
        </div>
      </div>

    </section>



    <section class="section py-4">
      <table id="example" class="table datatable" style="width:100%">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Subcategory</th>
            <th>action</th>

          </tr>
        </thead>
        <tbody>

          <% categories.forEach(function(category) { %>
            <tr>
              <td>
                <%= category._id %>
              </td>
              <td>
                <%= category.categoryName %>
              </td>
              <td>
                

                <!--------------------- Sub-Category Details modal -------------------->
                <!-- Button to trigger the modal -->

                <button type="button" class="btn btn-info" data-bs-toggle="modal"
                  data-bs-target="#showSubcategoryModal<%= category._id %>">View </button>
                 <form action="/admin/subcategories/<%= category._id %>" method="post">
                   <button type="submit" class="btn btn-secondary">Customise</button>
                 </form>
                <!-- Modal -->
                <div class="modal fade" id="showSubcategoryModal<%= category._id %>" tabindex="-1" aria-labelledby="exampleModalLabel"
                  aria-hidden="true" data-bs-backdrop="static">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Subcategories for <%= category.categoryName %>
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <!-- Container for subcategories -->
                        <ul>
                          <% if (category.subcategories.length> 0) { %>
                            <% category.subcategories.forEach(subcategory=> { %>
                              <li class="text-dark">
                                <%= subcategory.subcategoryName %>
                              </li>
                              <% }); %>
                                <% } else { %>
                                  <p>No subcategories found.</p>
                                  <% } %>
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>





              </td>


              <td>
                <% if (category.isDisabled) { %>
                  <form action="/admin/categoryAvailable/<%= category._id %>" method="post">
                    <button type="submit" class="btn btn-danger"
                      data-bs-target="#activateModal<%= category._id %>">Block</button>
                  </form>
                  <% } else { %>
                    <form action="/admin/categoryNA/<%= category._id %>" method="post">
                      <button type="submit" class="btn btn-dark"
                        data-bs-target="#activateModal<%= category._id %>">Unblock</button>
                    </form>
                    <% } %>
                      <!-- Edit Button -->
                      <form action="/admin/categoryEdit/<%= category._id %>" method="post">
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                          data-bs-target="#editCategoryModal<%= category._id %>">Edit</button>
                      </form>

                      <!-- Modal for editing category -->
                      <div class="modal fade" id="editCategoryModal<%= category._id %>" tabindex="-1"
                        aria-labelledby="editCategoryModalLabel" aria-hidden="true" data-bs-backdrop="static"
                        data-bs-keyboard="false">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="editCategoryModalLabel">Edit Category</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                            </div>
                            <form id="editCategoryForm<%= category._id %>"
                              action="/admin/categoryEdit?CatID=<%= category._id %>" method="post">
                              <div class="modal-body">
                                <!-- Category edit form goes here -->
                                <div class="mb-3">
                                  <label for="editCategoryName" class="form-label">Category Name</label>
                                  <input type="text" class="form-control" id="editCategoryName<%= category._id %>"
                                    name="editCategoryName" value="<%= category.name %>" required>
                                </div>
                                <!-- Add more form fields as needed for editing -->
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save Changes</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>

              </td>

            </tr>
            <% }) %>


        </tbody>
        <tfoot>

        </tfoot>
      </table>
    </section>

  </main>




  <%- include('../layouts/footer') %>