<%- include('../layouts/header') %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap4.min.css">

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap4.min.js"></script>







<main id="main" class="main">
    <section>
        <h1>Coupons</h1>
        <div class="row">
            <!-- Left side: Coupon Creation Form -->
            <div class="col-md-4">
                <form id="couponForm" action="/admin/createCoupon" method="post" onsubmit="submitForm(event)">

                    <!-- Coupon code  -->
                    <div class="form-row mt-3">
                        <div class="form-group col-md-8 mt-3">
                            <label for="code">Coupon Code</label>
                            <input type="text" class="form-control" id="code" name="code" placeholder="Coupon Code" required>
                        </div>
                    </div> 
                    
                    <!-- description -->
                    <div class="form-group col-md-8 mt-3">
                        <label for="description">Description</label>
                        <textarea type="number" class="form-control" id="description" name="description" placeholder="Write someting about Coupons..."></textarea>
                    </div>

                    <!-- Coupon type -->
                    <div class="form-group col-md-8 mt-3" >
                        <label for="discountType">Coupon Type</label>
                        <select class="form-control" id="discountType" name="discountType" required>
                            <option value="Percentage">Percentage</option>
                            <option value="FixedAmount">Fixed Amount</option>
                        </select>
                    </div>

                    <!-- Discount Amount -->
                    <div class="form-group col-md-8 mt-3">
                        <label for="discountValue">Discount Amount</label>
                        <input type="number" class="form-control" id="discountValue" name="discountValue" placeholder="Discount Amount" required>
                    </div>

                    <!-- minimumPurchase -->
                    <div class="form-group col-md-8 mt-3">
                        <label for="minimumPurchase">Minimum Purchase</label>
                        <input type="number" class="form-control" id="minimumPurchase" name="minimumPurchase" placeholder="Minimum Purchase">
                    </div>

                   

                    <!-- validUntil -->
                    <div class="form-group col-md-8 mt-3">
                        <label for="validUntil">Valid Until</label>
                        <input type="date" class="form-control" id="validUntil" name="validUntil" required>
                    </div>
                    
                   
                    <!-- usesLeft -->
                    <div class="form-group col-md-8 mt-3">
                        <label for="usesLeft">Uses Left</label>
                        <input type="number" class="form-control" id="usesLeft" name="usesLeft" placeholder="Uses Left" required>
                      </div>
                      <!-- status -->
                      <div class="form-group col-md-8 mt-3">
                        
                            <label for="status">Status :</label>

                            <select name="status" id="status">
                              <option value="active">Active</option>
                              <option value="inactive">Inactive</option>
                              
                            </select>
                        
                      </div>
                    <!-- Add more form fields as needed -->
                    <hr>
                    <button type="submit" class="btn btn-primary">Create Coupon</button>
                </form>
            </div>
            <!-- Right side: Available Coupons -->
            <!-- // Assuming you have retrieved the coupon data from your database and stored it in an array called 'coupons' -->
           
            <div class="col-md-8">
                <table id="example" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Coupon Code</th>
                            <th>Coupon Type</th>
                            <th>Valid Until</th>
                           
                            <th>Discount Type</th>
                            <th>Discount Amount</th>
                            <th>Edit</th>
                            <th>Status</th>

                           
                        </tr>
                    </thead>
                    <tbody>
                        <% coupons.forEach(item => { %>
                          <tr>
                            <td><%= item.coupon.code %></td>
                            <td><%= item.coupon.discountType %></td>
                            <td><%= item.coupon.validUntil ? item.coupon.validUntil.toDateString() : 'N/A' %></td>
                            <td><%= item.coupon.discountType %></td>
                            <td><%= item.coupon.discountValue %></td>
                            <td>
                              <a href="/editCoupon/<%= item.coupon._id %>" class="btn btn-warning edit-button" data-coupon-id="<%= item.coupon._id %>" data-coupon-index="<%= item.index %>">
                                <i class="fas fa-edit"></i>
                              </a>
                            </td>
                            <td>
                                <a
                                  href="#"
                                  class="status-button btn"
                                  data-coupon-id="<%= item.coupon._id %>"
                                  data-current-status="<%= item.coupon.isActive %>"
                                >
                                  <% if (item.coupon.isActive) { %>
                                    <span class="active-button btn btn-primary">Active</span>
                                  <% } else { %>
                                    <span class="inactive-button btn btn-danger">Inactive</span>
                                  <% } %>
                                </a>
                              </td>
                              
                          </tr>
                        <% }) %>
                      </tbody>
                      
                   
                </table>
            </div>
            
            
            
        </div>
    </section>
</main>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    new DataTable('#example');
</script>

<script>
   function submitForm(event) {
    event.preventDefault(); // prevent form from submitting normally

    const form = event.target
    const formData = new FormData(form);

    // Convert the form data to a JSON object
    const formDataObject = {}
    formData.forEach((value, key) => {
        formDataObject[key] = value;
    })

    // Send a POST request to the backend
    fetch('/admin/createCoupon', {
        method : 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(formDataObject)
    })
    .then((response) => response.json())
    .then((data) => {
       // Handle the response from the server
       if (data.message === 'Coupon saved successfully') {
                // Show SweetAlert for success
                Swal.fire({
                    title: 'Success!',
                    text: 'Coupon saved successfully',
                    icon: 'success',
                }).then(() => {
                    // Handle the success action (e.g., update the front end)
                   window.reload()
                });
            } else {
                // Handle any other response (e.g., error)
                console.log(data);
            }
    })
    .catch((error) => {
        console.error('Error:', error);
    })

   }

</script>

<script>
    const couponForm = document.getElementById('couponForm');
    // Handle the click event on edit buttons
    document.querySelectorAll('.edit-button').forEach(button => {
        button.addEventListener('click', function (event) {
          
        event.preventDefault();
        const couponId = this.getAttribute('data-coupon-id');
            
        // Send a request to the backend to retrieve coupon data
        fetch(`/admin/getCoupon/${couponId}`)
          .then((response) => response.json())
          .then((data) => {
            
            // Populate the form fields with the retrieved data
            couponForm.code.value = data.code;
            couponForm.description.value = data.description;
            couponForm.discountType.value = data.discountType;
            couponForm.discountValue.value = data.discountValue;
            couponForm.minimumPurchase.value = data.minimumPurchase;
            couponForm.validUntil.value = data.validUntil;
            couponForm.usesLeft.value = data.usesLeft;
            couponForm.status.value = data.status;
          })
          .catch((error) => {
            console.error('Error:', error);
          });
      });
    });

    document.querySelectorAll('.status-button').forEach(button => {
  button.addEventListener('click', function (event) {
    event.preventDefault();
    
    const couponId = this.getAttribute('data-coupon-id');
    const currentStatus = this.getAttribute('data-current-status');
    
    // Send a request to the backend to update coupon status
    fetch(`/admin/updateCouponStatus/${couponId}`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ currentStatus }),
    })
      .then(response => response.json())
      .then(data => {
        // Check the response and update the button text accordingly
        if (data.newStatus === 'active') {
          this.innerHTML = '<span class="active-button btn btn-primary">Active</span>';
        } else {
          this.innerHTML = '<span class="inactive-button btn btn-danger">Inactive</span>';
        }
        // Update the data-current-status attribute
        this.setAttribute('data-current-status', data.newStatus);
      })
      .catch(error => {
        console.error('Error:', error);
      });
  });
});

  </script>
  




<%- include('../layouts/footer') %>
