
<%- include('../layouts/header') %>

<%- include('../admin/navbar') %>


  

<!-- Main Navigation -->
  <main class="row"> 
<%- include('../admin/sidebar') %>

<div class="col-md-9" style="margin-top: 58px;">
    <div class="container pt-4">
      <h1>Customers</h1><hr/>
        <table class="table table-hover">
            <thead>
              <tr>
                <th>Username</th>
                <th> Email</th>
                <th>Phone</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
                <% usersList.forEach(element => { %>
                 <tr>
                  <td><%= element.fullname %></td>
                  <td><%= element.email %></td>
                  <td><%= element.phone %></td>

                  <td>
                    <% if (element.isVerified===true) { %>
                      <form action="/admin/userBlocked/<%= element._id %>" method="post">
                      <button class="btn btn-primary" data-user-id="<%= element._id %>">Active</button>
                    </form>
                    <% } else { %>
                    
                      <span>  
                        <form action="/admin/userActive/<%= element._id %>" method="post">                   
                         <button class="btn btn-danger" data-user-id="<%= element._id %>">Inactive</button>
                        </form>
                      </span>
                    <% } %>                  
                  </td>
                 </tr>

                <% }) %>
            </tbody>
          </table>
        <!-- Your content here -->
    </div>
</div>

  </main>
    <!-- Navbar -->
    
    <!-- Navbar -->

  <!-- Main Navigation -->
  
  <!-- Main layout -->
 
  <!-- Main layout -->


    <%- include('../layouts/footer') %>