
<%- include('../layouts/header') %>

<%- include('../admin/navbar') %>


  

<!-- Main Navigation -->
  <main class="row"> 
<%- include('../admin/sidebar') %>

<div class="col-md-9" style="margin-top: 58px;">
    <div class="container pt-4">
        <table class="table table-hover">
            <thead>
              <tr>
                <th>Username</th>
                <th> Email</th>
                <th>Phone</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
                <% if(users.length>0){ %>
                      <%  for(let i=0;i<users.length;i++){ %>
                            
                        <tr class="odd:bg-slate-300 even:bg-slate-500">
                                <td class="px-2 py-2 sm:px-4 sm:py-2 text-center"> <%= users[i].fullname %></td>
                                <td class="px-2 py-2 sm:px-4 sm:py-2 text-center"><%= users[i].email %></td>
                                <td class="px-2 py-2 sm:px-4 sm:py-2 text-center"><%= users[i].phone %></td>
                                <td class="px-2 py-2 sm:px-4 sm:py-2 text-center"><%
                                    if(users[i].isVerified == true){
                                    %>
                                    <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                                        Admin
                                      </button>
                                    <%
                                    }       
                                    else{
                                        %>
                                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                            User
                                          </button>
                                        <%
                                    }                                 
                                %></td>

                            </tr>
                           
                        <% } %>
                        <%  } else { %>
                        <tr>
                            <td colspan="5">Users Not Found</td>
                        </tr>
                        <% } %>
                
            </tbody>
          </table>
        <!-- Your content here -->
    </div>
</div>

  </main>
    <!-- Navbar -->
    
    <!-- Navbar -->

  <!-- Main Navigation -->
  
  <!-- Main layout -->
 
  <!-- Main layout -->


    <%- include('../layouts/footer') %>