<%- include('../layouts/userHeader') %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">


    <section class="h-100" style="background-color: #eee;">
        <div class="container h-100 py-5">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-10">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
                    </div>

                    <% if (user.cart.length===0) { %>
                        <p>Your cart is empty.</p>
                        <% } else { %>
                            <% user.cart.forEach((cartItem)=> { %>
                                <div class="card rounded-3 mb-4">
                                    <div class="card-body p-4">
                                        <div class="row d-flex justify-content-between align-items-center">
                                            <div class="col-md-2 col-lg-2 col-xl-2">
                                                <img src="/uploads/<%= cartItem.product_id.productImages[0] %>"
                                                    class="img-fluid rounded-3" alt="<%= cartItem.product_name %>">
                                            </div>
                                            <div class="col-md-3 col-lg-3 col-xl-3">
                                                <p class="lead fw-normal mb-2">
                                                    <%= cartItem.product_name %>
                                                </p>
                                                <!-- Display other product details like size and color if available -->
                                            </div>
                                            <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                                <button class="btn btn-link px-2 minus-button" data-productid="<%= cartItem.product_id._id %>" data-quantity="<%= cartItem.quantity - 1 %>">
                                                    <i class="fas fa-minus"></i>
                                                </button>
                                                <!-- Input for quantity (use cartItem.quantity) -->
                                                <input id="form1" min="0" name="quantity"
                                                    value="<%= cartItem.quantity %>" type="number"
                                                    class="form-control form-control-sm" readonly />

                                                    <button class="btn btn-link px-2 plus-button" data-productid="<%= cartItem.product_id._id %>" data-quantity="<%= cartItem.quantity + 1 %>">
                                                        <i class="fas fa-plus"></i>
                                                    </button>
                                            </div>

                                            <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                                <!-- Display the total price for this item (use cartItem.totalPrice) -->
                                                <h5 class="mb-0">$<%= cartItem.totalPrice.toFixed(2) %>
                                                </h5>
                                            </div>
                                            <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                                <!-- Add a button to remove the item from the cart -->
                                                <button class="btn btn-link px-2"
                                                    onclick="removeFromCart('<%= cartItem.product_id._id %>')">
                                                    <i class="fas fa-trash fa-lg"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% }); %>
                                    <% } %>
                                        <div class="card mb-4">
                                            <div class="card-body p-4 d-flex flex-row">
                                                <div class="form-outline flex-fill">
                                                    <input type="text" id="form1"
                                                        class="form-control form-control-lg" />
                                                    <label class="form-label" for="form1">Discound code</label>
                                                </div>
                                                <button type="button"
                                                    class="btn btn-outline-dark btn-lg ms-3">Apply</button>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-body">
                                                <button type="button"
                                                    class="btn btn-outline-dark btn-block btn-lg">Proceed to
                                                    Pay</button>
                                            </div>
                                        </div>
                </div>
            </div>
        </div>
    </section>


    <script>
        // Handling Plus or Minus button
        const plusButtons = document.querySelectorAll('.plus-button')
        const minusButtons = document.querySelectorAll('.minus-button')

        // Function to update the quantity and total price in the UI
        const updateUI = (productId,newQuantity,newTotalPrice) => {
            const quantityInput = document.querySelector(`#quantityInput${productId}`)
            const totalPriceElement = document.querySelector(`#totalPrice${productId}`)

            quantityInput.value = newQuantity
            totalPriceElement.textContent = `$${newTotalPrice.toFixed(2)}`
        }


        // Click event listeners to the plus buttons
        plusButtons.forEach((plusButton) => {
            plusButton.addEventListener('click', async () => {
                const productId = plusButton.getAttribute('data-productid')
                const newQuantity = plusButton.getAttribute('data-quantity')

                // fetch for update the quantity on the server
                const response = await fetch(`/updateQuantity/${productId}/${newQuantity}`, {
                    method: 'PUT', //
                })

                if (response.ok) {
                    // parse the response JSON to get the updated total price
                    const { updatedTotalPrice } = await response.json()

                    // Update the UI with the new quantity and total price
                    updateUI(productId,newQuantity,updatedTotalPrice)
                }
            })
        })

        // Click event listeners to the minus button
        minusButtons.forEach((minusButton) => {
            minusButton.addEventListener('click',async () => {
                const productId = minusButton.getAttribute('data-productid')
                const currentQuantity = parseInt(minusButton.getAttribute('data-quantity'))

                if (currentQuantity > 1) {
                    const newQuantity = currentQuantity -1 // Decrementing quantity

                    // using fetch for updating the quantity on the server
                    const response = await fetch(`/updateQuantity/${productId}/${newQuantity}`,{
                        method: 'PUT', 
                    })

                    if (response.ok) {
                        // Parse the response JSON to get the updated total price
                        const { updatedTotalPrice } = await response.json()

                        // Update the UI with the new quantity and total price
                        updateUI(productId,newQuantity,updatedTotalPrice)
                    }
                }
            })
        })
    </script>
    <%- include('../layouts/userFooter') %>