<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Paws & Claws</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha384-Ff5385hCCBqGoB/nyF2gJ9Xme1z5um2F5P1l5d+Jl5OMb4m81b1x3Ltkjz5E/Kb8q" crossorigin="anonymous" />

    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/style2.css" rel="stylesheet" />

    <style>
        .card-body-fixed-height {

            max-height: 200px;
            /* Adjust the height as needed */
            overflow: hidden;
        }

        /* Style for the product details container */
        .product-details-container {
            display: flex;
            align-items: stretch;
            /* Make both cards stretch to equal height */
            justify-content: space-around;
            margin: 20px;
        }

        /* Style for the product image card (left side) */
        .product-image-card {
            flex: 1;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        /* Style for the product image */
        .product-image {
            max-width: 100%;
            height: auto;
        }

        /* Style for the product details card (right side) */
        .product-details-card {
            flex: 1;
            /* Equal flex value to ensure same height as the image card */
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

            /* height: 50%; */
        }

        /* Style for the main container */
        .main-container {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            /* Minimum height to fill the viewport */
        }

        /* Style for the product details container */
        .product-details-container {
            display: flex;
            flex: 1;
            /* Grow to fill available space */
            align-items: stretch;
            justify-content: space-around;
            margin: 20px;
        }

        /* Style for the product image card (left side) */
        .product-image-card {
            flex: 1;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        /* Style for the product image */
        .product-image {
            max-width: 100%;
            height: auto;
        }

        /* Style for the product details card (right side) */
        .product-details-card {
            flex: 1;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        /* Style for the footer */
        .user-footer {
            margin-top: auto;
            /* Push the footer to the bottom */
        }

        /* Define the zoom effect for the image */
    </style>
</head>

<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid px-4 px-lg-5">
            <a class="navbar-brand" href="/home">Paws & Claws</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">

                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/home">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/cats">Cats</a></li>
                    <li class="nav-item"><a class="nav-link" href="/dogs">Dogs</a></li>
                    <% if(locals.userId){ %>
                        <li class="nav-item"><a class="nav-link" href="/showOrders">Orders</a></li>
                        <li class="nav-item"><a class="nav-link" href="/account">Account</a></li>
                        <% } %>

                </ul>

                <form class="d-flex" id="dogs-search-form">
                    <div class="input-group">
                        <input class="form-control" type="search" id="dogs-search-input" placeholder="Search"
                            aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </div>
                </form>

                <div class="d-flex ">
                    <% if(locals.userId){ %>
                        <form class="d-flex px-2 " action="/showWishlist" method="post">
                            <button class="btn btn-outline-dark" type="submit">
                                <i class="bi bi-heart-fill me-1"></i>
                                Wishlist
                                <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                            </button>
                        </form>
                        <form class="d-flex px-2" action="/showCart" method="post">
                            <button class="btn btn-outline-dark" type="submit">
                                <i class="bi-cart-fill me-1"></i>
                                Cart
                                <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                            </button>
                        </form>

                        <% }else { %>
                            <form class="d-flex px-2 " action="/login">
                                <button class="btn btn-outline-dark" type="submit">
                                    <i class="bi bi-heart-fill me-1"></i>
                                    Wishlist
                                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                                </button>
                            </form>
                            <form class="d-flex px-2" action="/login">
                                <button class="btn btn-outline-dark" type="submit">
                                    <i class="bi-cart-fill me-1"></i>
                                    Cart
                                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                                </button>
                            </form>

                            <% } %>


                                <% if (locals.userId) { %>
                                    <!-- User is authenticated, show the "Sign Out" button -->
                                    <form class="d-flex px-2" action="/signout" method="post">
                                        <button class="btn btn-outline-dark" type="submit">
                                            <i class="bi bi-box-arrow-right me-1"></i> Sign Out
                                        </button>
                                    </form>
                                    <% } else { %>
                                        <!-- User is not authenticated, show the "Login" button -->
                                        <a class="btn btn-outline-dark" href="/login">
                                            <i class="bi bi-box-arrow-in-right me-1"></i> Login
                                        </a>
                                        <% } %>



                </div>
            </div>
        </div>
    </nav>




    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


    <% if (locals.userIsBlocked) { %>
        <script>
            // Display SweetAlert when the user is blocked
            Swal.fire({

                icon: 'error',
                title: 'Account Blocked',
                text: 'Your account has been blocked. Please contact support.',
                showCancelButton: false,
                confirmButtonText: 'Ok',
                timer: 2000,
            }).then(() => {
                // Redirect to the login page
                window.location.href = '/userBlockedByAdmin';
            });
        </script>
        <% } %>



            <div class="col-10 col-sm-12 col-lg-12 ">

                <!-- Products Section -->
                <div id="main-content-container">



                    <section class="py-5">

                        <div class="col-2 col-sm-2 col-lg-2  " id="default-price-sort">
                            <div class="d-flex justify-content-center">
                                <div class="card  " style="max-width: 18rem;">
                                    <div class="card-body">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                id="flexRadioDefault1" value="lowToHigh">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                Low to High
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                id="flexRadioDefault2" value="highToLow">
                                            <label class="form-check-label" for="flexRadioDefault2">
                                                High to Low
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container px-4 px-lg-2 mt-5">
                            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                                <% products.forEach((product)=> { %>
                                    <div class="col mb-5">
                                        <div class="card card-square">
                                            <!-- Product image -->
                                            <img src="/uploads/<%= product.productImages[0] %>"
                                                alt="<%= product.productName %> Image" class="card-img-top img-fluid"
                                                style="height: 300px; width: 100%; padding: 5px;">
                                            <!-- Product details -->
                                            <div class="card-body p-4 card-body-fixed-height">
                                                <div class="text-center">
                                                    <!-- Product name -->
                                                    <h5 class="fw-bolder">
                                                        <%= product.productName %>
                                                    </h5>
                                                    <p>Category: <%= product.category.categoryName %>
                                                    </p>
                                                    <p>Subcategory: <%= product.subcategory.subcategoryName %>
                                                    </p>
                                                    <!-- Product price -->
                                                    $<%= product.price.toFixed(2) %>
                                                </div>
                                            </div>
                                            <!-- Product actions -->
                                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                                <div class="text-center">
                                                    <a href="/product?productId=<%= product._id %>"
                                                        class="btn btn-outline-dark mt-auto">View
                                                        Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% }) %>
                            </div>
                        </div>
                    </section>
                </div>

                <section class="py-5" id="main-content">

                    <div class="col-2 col-sm-2 col-lg-2  " id="price-sort" style="display: none;">
                        <div class="d-flex justify-content-center">
                            <div class="card  " style="max-width: 18rem;">
                                <div class="card-body">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault"
                                            id="flexRadioDefault1" value="lowToHigh">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            Low to High
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault"
                                            id="flexRadioDefault2" value="highToLow">
                                        <label class="form-check-label" for="flexRadioDefault2">
                                            High to Low
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="container px-4 px-lg-5 mt-5">
                        <div id="search-results"
                            class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                        </div>

                    </div>


                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                          <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                          </li>
                        </ul>
                      </nav>
                      
                </section>

            </div>




            <script>
                // Wait for the DOM to be fully loaded before executing the code
                document.addEventListener('DOMContentLoaded', function () {
                    // Get references to HTML elements
                    const searchForm = document.getElementById('dogs-search-form');
                    const searchInput = document.getElementById('dogs-search-input');
                    const searchResultsContainer = document.getElementById('search-results');
                    const existingProductsContainer = document.getElementById('main-content-container');
                    const defaultPriceSort = document.getElementById('default-price-sort');
                    const filteredPriceSort = document.getElementById('price-sort')

                    // Array to store the orginal products data
                    let productsData = [] 

                    // Function to sort products based on price
                    function sortProducts(products, sortOrder) {
                        return products.slice().sort((a, b) => {
                            if (sortOrder === 'lowToHigh') {
                                return a.price - b.price
                            } else if (sortOrder === 'highToLow') {
                                return b.price - a.price
                            }
                        })
                    }

                    // Function to render sorted products
                    function renderSortedProducts(products) {
                        // Clear the previous search results
                        searchResultsContainer.innerHTML = ''

                        if (products.length === 0) {
                            searchResultsContainer.textContent = 'No products found. '
                        } else {
                            // Loop through products and create product cards
                            products.forEach(product => {
                                const productCard = document.createElement('div')
                                productCard.classList.add('product-card')
                                productCard.innerHTML = `
                                            <div class="col  mb-5">                              
                                                <div class="card card-square">
                                                    <!-- Product image -->
                                                    <img src="/uploads/${product.productImages[0]}" alt="${product.productName} Image" 
                                                        class="card-img-top img-fluid" style="height: 300px; width: 100%; padding: 5px;">
                                                    <!-- Product details -->
                                                    <div class="card-body p-4 card-body-fixed-height">
                                                        <div class="text-center">
                                                            <!-- Product name -->
                                                            <h5 class="fw-bolder">${product.productName}</h5>
                                                            <p class="mb-0">Category: ${product.category.categoryName}</p>
                                                            <p class="mb-0">Subcategory: ${product.subcategory.subcategoryName}</p>
                                                            <!-- Product price -->
                                                            <p class="mb-0">$${product.price.toFixed(2)}</p>
                                                        </div>
                                                        </div>
                                                    <!-- Product actions -->
                                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                                        <div class="text-center">
                                                            <a href="/product?productId=${product._id}" class="btn btn-outline-dark mt-auto">View Details</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            `
                                searchResultsContainer.appendChild(productCard)
                            })
                        }
                    }

                    // Event listener for default sorting radio buttons
                    defaultPriceSort.addEventListener('change', function (e) {
                        const sortOrder = e.target.value
                        if (productsData.length > 0) {
                            const sortedProducts = sortProducts(productsData, sortOrder);
                            renderSortedProducts(sortedProducts);
                        }
                    })

                    // Even listener for filtered sorting radio buttons
                    filteredPriceSort.addEventListener('change', function (e) {
                        const sortOrder = e.target.value
                        if (productsData.length > 0) {
                            const sortedProducts = sortProducts(productsData, sortOrder);
                            renderSortedProducts(sortedProducts);
                        }
                    })

                    // Event listener for the search form submission
                    searchForm.addEventListener('submit', async function (e) {
                        e.preventDefault();

                        // Get the search query from the input field
                        const query = searchInput.value;

                        try {
                            // Send a fetch request to filter products based on the search query
                            const response = await fetch(`/dogs/filter?query=${query}`);
                            if (!response.ok) {
                                throw new Error(`Network response was not ok: ${response.status}`);
                            }
                            const data = await response.json();

                            console.log("Data:", data);

                            // Update the productsData array with the fetched data
                            productsData = data;

                            // Clear previous search results and hide already shown images
                            searchResultsContainer.innerHTML = '';

                            existingProductsContainer.style.display = 'none'; // Hide existing products
                            

                            if (data.length === 0) {
                                searchResultsContainer.textContent = 'No products found.';
                            } else {
                                // Show the filtered sorting options
                                filteredPriceSort.style.display = 'block';

                                // Default sorting by 'lowToHigh'
                                const sortedProducts = sortProducts(productsData, 'lowToHigh'); 
                                renderSortedProducts(sortedProducts);
                            }
                        } catch (error) {
                            console.error(error);
                        }
                    });
                });

            </script>


            <%- include('../layouts/userFooter') %>