<%- include('../layouts/userHeader') %>
<!-- Add these links to include Bootstrap CSS and JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
    /* Add this CSS for mobile responsiveness */
@media (max-width: 768px) {
    .col.mb-5 {
        flex: 0 0 100%; /* Make the column full width on mobile screens */
        max-width: 100%;
    }

    .card.card-square {
        width: 100%; /* Make the card full width on mobile screens */
        max-width: 100%;
    }

    .card-img-top {
        height: auto; /* Let the image height adjust automatically */
        width: 100%; /* Make the image full width on mobile screens */
    }

    .card-body.card-body-fixed-height {
        padding: 15px; /* Increase the padding for better spacing on mobile screens */
    }

    .btn.btn-outline-dark {
        width: 100%; /* Make the button full width on mobile screens */
    }
}

</style>
<!-- Header-->
<header class=" ">   

    


    <!-- <div class="container px-4 px-lg-5 my-5"> -->
        <!-- <div class="text-center text-white"> -->
            <% if (banners.length > 0) { %>
                <!-- Display Banners -->
               
                <div id="bannerCarousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <% for (let i = 0; i < banners.length; i++) { %>
                        <li data-target="#bannerCarousel" data-slide-to="<%= i %>" class="<%= i === 0 ? 'active' : '' %>"></li>
                      <% } %>
                    </ol>
                    <div class="carousel-inner">
                      <% banners.forEach((banner, index) => { %>
                        <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                          
                          <a href="/cats">
                            <img src="/uploads/<%= banner.imageUrl %>"
                            class="d-block w-100" alt="<%= banner.category %>" style="height: 100%; width: 100vw;">
                          </a>
                          
                          <div class="carousel-caption">
                            <!-- You can add a caption here if needed -->
                          </div>
                        </div>
                      <% }); %>
                    </div>
                    <a class="carousel-control-prev" href="#bannerCarousel" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#bannerCarousel" role="button" data-slide="next">
                        <span class="sr-only">Next</span>
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </a>
                  </div>
                  
                  
                  <script>
                    // Initialize the carousel
                    $('#bannerCarousel').carousel();
                  
                    // Click event for "Next" button
                    $('.carousel-control-next').click(function() {
                      $('#bannerCarousel').carousel('next');
                    });
                  
                    // Click event for "Previous" button
                    $('.carousel-control-prev').click(function() {
                      $('#bannerCarousel').carousel('prev');
                    });
                  </script>
                  
                  
            <% } else { %>
                <!-- No Banners Present -->
                <h1 class="display-4 fw-bolder">Home Page is under Construction</h1>
                <p class="lead fw-normal text-white-50 mb-0">Please visit after some time</p>
            <% } %>
        </div>
    </div>
</header>


<!-- Section-->
<div id="main-content-container">
    <section class="py-5" id="main-content">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <!-- Loop through the filtered products and display them-->
                <% for (let i = 0; i < products.length; i++) { %>
                    <div class="col mb-5">
                        <div class="card card-square">
                            <!--Product image-->
                            <img src="/uploads/<%= products[i].productImages[0] %>"
                                alt="<%= products[i].productName %>Image" class="card-img-top img-fluid"
                                style="height: 300px; width: 100%; padding: 5px;">
                            <!-- Product details -->
                            <div class="card-body p-4 card-body-fixed-height">
                                <div class="text-center">
                                    <!-- product name  -->
                                    <h5 class="fw-bolder">
                                        <%= products[i].productName %>
                                    </h5>
                                    
                                    <!-- product price  -->
                                    ₹<%= products[i].price.toFixed(2) %>
                                </div>
                            </div>
                            <!-- product actions  -->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a href="/product?productId=<%= products[i]._id %>"
                                        class="btn btn-outline-dark mt-auto">View Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </section>
</div>


<section class="py-5" id="main-content">
    <div class="container px-4 px-lg-5 mt-5">
        <div id="search-results" class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        </div>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item " id="previous-page">
            <a class="page-link" href="?page=<%= currentPage - 1 %>" tabindex="-1">Previous</a>
          </li>
          <% for (let page = 1; page <= totalPages; page++) { %> 
            <li class="page-item <%= page === currentPage ? 'active':'' %>" data-page="<%= page %>">
              <a href="?page=<%= page %>" class="page-link"><%= page %></a>
            </li>
          <% } %>
          <li class="page-item <%= currentPage < totalPages ? '' : 'disabled' %>" id="next-page">
            <a href="<%= currentPage < totalPages ? '?page=' + (currentPage + 1) : '#' %>" class="page-link">Next</a>
          </li>            
        </ul>
      </nav>
      

</section>

</div>
<script>
    document.addEventListener('DOMContentLoaded', function(){
        const searchForm = document.getElementById('search-form')
        const searchInput = document.getElementById('search-input')
        const mainContentContainer = document.getElementById('main-content-container');

        searchForm.addEventListener('submit', function(e) {
            e.preventDefault()

            // Get the search query from the input field
            const query = searchInput.value 

            // Send a fetch request to the server to fetch search results
            fetch(`/search?query=${query}`) 
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`Network response was not ok: ${response.status}`)
                    }
                    return response.json()
                })
                .then(data => {
                    console.log('Received data:', data); // Debug: Log the received data

                    // Hide the main content container
                    mainContentContainer.style.display = 'none'

                    const resultsContainer = document.getElementById('search-results')

                    // Clear previous search results
                    resultsContainer.innerHTML = ''

                    if (data.length === 0) resultsContainer.textContent = 'No products found.'
                    else {
                        // Loop through the products and create a list or display them as needed
                        data.forEach(product => {
                            const productCard = document.createElement('div')
                            productCard.classList.add('col', 'mb-5');
                            productCard.innerHTML = `
                            

                                <div class="col  mb-5">
                                    <div class="card card-square">
                                        <!-- Product image -->
                                        <img src="/uploads/${product.productImages[0]}" alt="${product.productName} Image" 
                                        class="card-img-top img-fluid" style="height: 300px; width: 100%; padding: 5px;">
                                        <!-- Product details -->
                                        <div class="card-body p-4 card-body-fixed-height">
                                            <div class="text-center">
                                                <!-- Product name -->
                                                <h5 class="fw-bolder">${product.productName}</h5>
                                               
                                                <!-- Product price -->
                                                <p class="mb-0">$${product.price.toFixed(2)}</p>
                                            </div>
                                        </div>
                                        <!-- Product actions -->
                                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                            <div class="text-center">
                                                <a href="/product?productId=${product._id}" class="btn btn-outline-dark mt-auto">View Details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              
                            `;
                            resultsContainer.appendChild(productCard)
                        })
                    }
                })
        })
    })
</script>
<%- include('../layouts/userFooter') %>
